*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    font-size: 14px;
}
.wrapper{
    padding: 0 0 100px;
    background: url(images/bg.png) no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
}
.wrapper .logo{
    max-width: 40%;

}
.wrapper input{
    background-color:#f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
}
.wrapper input:focus{
    box-shadow: none;
}
.wrapper .btn{
    padding:10px 15px;
    font-weight: 500;
}
.wrapper .login_width{
    padding: 8px 15px;
    font-size: 13px;
    transition: 0.3s ease-in-out;
}
.wrapper .login_width:hover{
    background-color:#e3e3e3 ;
    border-color:#e3e3e3 ;
}
.wrapper .login_width img{
    max-width:12%;
    padding-right: 6px;

}
.password-info {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}